<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <%= image_tag @user.image.to_s %>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
        <%= image_tag post.user.image.to_s %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to post.user.name, user_path(@user.id) %>
          </div>
          <%= link_to(post.content, posts_path) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


