<div class="new-post-main">
  <div class="container">
    <div class="post-width">
      <div class="post-title">
        <h4>飲んだビールを評価する</h4>
      </div>
      <div class="post-wrapper">
        <%= form_with model:@post, local: true do |form|%>
          <p>名称</p>
          <%= form.collection_select :bier_id, Bier.all, :id, :name, prompt: "選択してください" %>
          <p>感想</p>
          <%= form.text_area:content%>
          <p>星評価</P>
           <div class="rating-box mt-3">
           <div class="main-rating">
              <div class="ratings mb-3">
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
              </div>
              <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
             </div>
            <%= form.hidden_field :evaluation, id: "rating-value" %>
            </div>
                  <%=form.submit "投稿"%>
        <%end%>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'posts/new' %>