<div class="row">
 <div class="col-8">
  <%= image_tag @bier.image.to_s %>
 </div>
  <div class="col-4">
   <div class="card-body d-flex flex-column m-4 align-items-start">
      <h3 class="mb-0">
        <%= @bier.deutsch_name %>
      </h3>
      <div class="mb-1 text-muted"><%=@bier.name %></div>
      <strong class="d-inline-block mb-2 text-success"><%= @bier.prozent %></strong>
      <p class="card-text mb-auto"><%=@bier.explanation %></p>
      </div>
   </div>
 </div>

<div class="bg-body rounded mt-5">
  <h6 class="border-bottom pb-2 mb-0">コメント</h6>
 <% @bier.posts.each do |post| %>
  <div class="d-flex text-muted pt-3">
    <%= image_tag post.user.image.to_s, class: "bd-placeholder-img flex-shrink-0 ml-2 mr-2 rounded", :size => '32x32' %>
    <p class="pb-3 mb-0 small lh-sm border-bottom">
      <strong class="d-block text-gray-dark">@<%= post.user.name %></strong>
      <%= post.content %>
    </p>
    <div class="content average-score">
    <div class="star-rating mb-2">
      <div class="star-rating-front" style="width: <%= post.evaluation*100/5 %>%">★★★★★</div>
      <div class="star-rating-back">★★★★★</div>
    </div>
  </div><br>
  </div>


  <% end %>
<div>
  <small class="d-block text-end mt-3">
    <p>コメント：<%= @bier.posts.count %>件</p>
  </small>
</div>
