<!DOCTYPE html>
<html>
  <head>
    <title>BierApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    # <%= javascript_include_tag 'jquery_raty.js' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <% if @current_user %>
         <%= link_to "MeinLieblings", root_path, class: "navbar-brand" %>
        <% else %>
         <%= link_to "MeinLieblings", root_path, class: "navbar-brand" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
          <% if @current_user %>
          <li class="nav-item active">
          <%= link_to(@current_user.name, "/users/#{@current_user.id}", class: "nav-link") %>
          </li>
        <li class="nav-item active">
          <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "投稿する", new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
        <%= link_to "ログアウト", logout_path, class: "nav-link", method: :post %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to("新規登録", "/signup", class: "nav-link") %>
        </li>
        <li class="nav-item active">
          <%= link_to("Login", "/login", class: "nav-link") %>
        </li>
        <% end %>
      </ul>
      <%= form_with url: biers_search_by_name_path, method: :get, local: true, class: "form-inline mt-2 mt-md-0" do |form| %>
        <%= form.text_field :name, class: "form-control mr-sm-2" %>
        <%= form.submit "search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
        </div>
      </nav>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class='container mt-5'>
    <%= yield %>
    </div>
  </body>
</html>
